// desktop responsive hover
@media(min-width: 1010px){
  .book:hover .hover{
    display: block;
  }
}

// tablet responsive
@media(min-device-width: 750px) and (max-device-width: 1010px){
  .background{
    display: none;
  }

  .mainhead{
    height: 40.5px;
    .logo{
      clear: both;
      img{
        height: 66.75px;
        width: 184.5px;
      }
    }
    .mainnav{
      padding-top: 23px;
      padding-right: 30px;
      text-align: right;
      float: right;
      width: 500px;
    }
  }

  .searchbar{
    clear: both;
    width: 90%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    input{
      width: 90%;
    }
  }

  .subhead{
    p{
      clear: both;
      display: none;
    }
    .shelfview{
      clear: both;
      float: left;
      width: 100%;
      text-align: center;
      select{
        width: 90%;
      }
    }
  }

  .acctnav{
    float: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    ul{
      padding-left: 0px;
      .acctnavicon{
        padding: 10px 20px;
        img{
          height: 30px;
          width: 30px;
        }
      }
    }
  }

  .bookshelf{
    margin-top: 175px;
    width: 90%;
    .book{
      img{
        height: 300px;
      }
      .hover{
        height: 300px;
      }
    }
  }

  // .book:hover .hover{
  //   display: none;
  // }

  footer, .footlist{
    display: none;
  }
}


// mobile responsive
@media(min-device-width: 1px) and (max-device-width: 667px){
  .background{
    display: none;
  }

  .mainhead{
    height: 27px;
    .logo{
      clear: both;
      img{
        height: 44.5px;
        width: 123px;
      }
    }
    .mainnav{
      padding-right: 30px;
      padding-top: 3px;
      float: right;
      text-align: right;
      ul{
        .fa{
          display: block;
          color: black;
          font-size: 28px;
        }
        li{
          list-style: none;
          font-size: 1rem;
          padding-top: 3px;
          text-align: right;
          display: block;
          display: none;
        }
      }
    }
  }

  .searchbar{
    clear: both;
    width: 90%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    input{
      width: 90%;
    }
  }

  .subhead{
    p{
      clear: both;
      display: none;
    }
    .shelfview{
      clear: both;
      float: left;
      width: 100%;
      text-align: center;
      select{
        width: 90%;
      }
    }
  }

  span{
    clear: both;
  }

  .acctnav{
    float: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    ul{
      padding-left: 0px;
      .acctnavicon{
        padding: 8px 8px;
        img{
          height: 25px;
          width: 25px;
        }
        h5{
          display: none;
        }
      }
    }
  }

  .bookshelf{
    margin-top: 125px;
    width: 90%;
    text-align: center;
    .book{
      position: static;
      float: none;
      text-align: center;
      img{
        height: 400px;
        object-fit: contain;
        padding-left: 25px;
        padding-right: 25px;
      }
      .hover{
        position: static;
        height: 150px;
      }
    }
  }
  //
  // .book:hover .hover{
  //   display: none;
  // }

  footer, .footlist{
    display: none;
  }
}
