// colors

$fontgray: #5e5f60;
$fontgreen: #373b00;
$boxgray: #bbbbbe;
$boxgraytrans: rgba(187, 187, 190, .7);
$iconred: #a93914;

//main nav & main footer color black
//hover text white
//hover box 80% opacity
