@import "variables.scss";
@import "mixins.scss";

*{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: $fontgray;
  margin: 0px;
}

.background{
  height: 100%;
  width: 101.75%;
  position: fixed;
  z-index: -100;
}

.top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  img{
    height: 40px;
    width: 40px;
    padding: 5px;
  }
}

.mainhead{
  border-bottom: 2px solid $boxgray;
  height: 54px;
  .logo{
    float: left;
    width: 25%;
    img{
      height: 89px;
      width: 246px;
      padding-left: 30px;
    }
  }
  .mainnav {
    padding-top: 35px;
    float: left;
    width: 55%;
  }
    li{
      display: inline;
    a{
      text-decoration: none;
      color: black;
      font-size: 1.25rem;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.searchbar{
  float: right;
  width: 15%;
  padding-top: 20px;
  input{
    display: block;
    padding: 4px;
  }
}

.subhead{
  clear: both;
  width: 90%;
  margin: 0 auto;
  .shelfview{
    float:left;
    width: 35%;
    h5{
      font-size: 18px;
      font-weight: normal;
      display: inline-block;
    }
    ul{
      display: inline-block;
      text-align: left;
      border: 1px solid $boxgray;
      padding: 4px;
      width: 250px;
      li{
        text-align: left;
        display: none;
      }
    }
  }
  .acctnav{
    float: right;
    width: 65%;
    text-align: right;
    .acctnavicon{
      display: inline-block;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
    img{
      height: 35px;
      width: 35px;
    }
    .acctnavdrop li{
      text-align: left;
    }
    a{
      text-decoration: none;
    }
  }
}

.bookshelf{
  clear:both;
  width: 85%;
  margin: 0 auto;
  padding-top: 25px;
  .book{
    float: left;
    margin: 15px;
    img{
      height: 250px;
      object-fit: contain;
    }
  }
}

.loadmore{
  clear:both;
  text-align: center;
  margin-bottom: 15px;
  button{
    background: white;
    border: 2px solid $boxgray;
    padding: 7px;
    padding-left: 27px;
    padding-right: 27px;
    a{
      text-decoration: none;
      font-size: 24px;
    }
  }
}

footer{
  background-color: $boxgraytrans;
  height: 90px;
  .footlist{
    margin-left: 30px;
    float:left;
    width: 15%;
  }
  ul, i{
    list-style: none;
    padding: 5px;
    padding-bottom: 10px;
    li{
      a{
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
