@import "variables.scss";
@import "mixins.scss";

*{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: $fontgray;
  margin: 0px;
}

.background{
  height: 90%;
  width: 102%;
  position: fixed;
  z-index: -100;
}

header{
  .logo{
    height: 89px;
    width: 246px;
  }
}
