.shelfview .shelfnav:hover li {
  display: block; }

.shelfnav li:hover {
  background: #bbbbbe; }

.acctnavicon:hover li {
  display: block; }

.acctnavdrop li:hover {
  background: #bbbbbe; }

.mobilenav .mobiledrop:hover li {
  display: block; }

* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #5e5f60;
  margin: 0px; }

a {
  text-decoration: none; }

h5 {
  color: #373b00;
  font-size: 15px; }

.background {
  height: 80%;
  width: 101.75%;
  position: fixed;
  z-index: -100; }

header {
  background: white;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 200; }

.mainhead {
  border-bottom: 2px solid #bbbbbe;
  height: 54px; }
  .mainhead .logo {
    float: left;
    width: 25%; }
    .mainhead .logo img {
      height: 89px;
      width: 246px;
      padding-left: 30px; }
  .mainhead .mainnav {
    padding-top: 35px;
    float: left;
    width: 55%; }
  .mainhead li {
    display: inline; }
    .mainhead li a {
      color: black;
      font-size: 1.25rem;
      padding-left: 10px;
      padding-right: 10px; }

.mobilenav {
  color: black;
  font-size: 1.25rem;
  padding-right: 30px;
  display: none; }
  .mobilenav .mobiledrop li {
    font-size: 1rem;
    padding: 5px;
    display: block;
    display: none; }

.searchbar {
  float: right;
  width: 15%;
  padding-top: 20px; }
  .searchbar input {
    display: block;
    padding: 4px; }

.subhead {
  clear: both;
  width: 90%;
  margin: 0 auto; }
  .subhead p {
    font-size: 18px;
    font-weight: normal;
    float: left;
    padding-right: 5px; }
  .subhead .shelfview {
    float: left; }
    .subhead .shelfview select {
      text-align: left;
      border: 1px solid #bbbbbe;
      padding: 4px;
      width: 250px; }

.acctnav {
  float: right;
  width: 70%;
  text-align: right; }
  .acctnav ul {
    padding-left: 0px; }
    .acctnav ul .acctnavicon {
      display: inline-block;
      text-align: center;
      padding-left: 20px;
      padding-right: 25px;
      position: relative; }
      .acctnav ul .acctnavicon img {
        height: 35px;
        width: 35px; }

.acctnavdrop {
  list-style: none;
  padding-left: 0px;
  padding-top: 5px;
  position: absolute; }
  .acctnavdrop li {
    font-size: 14px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    background: white;
    display: none; }

#top {
  position: fixed;
  bottom: 35px;
  right: 20px; }
  #top img {
    height: 40px;
    width: 40px;
    padding: 5px; }

.bookshelf {
  clear: both;
  width: 85%;
  margin: 0 auto;
  margin-top: 150px;
  padding-top: 25px; }
  .bookshelf .book {
    position: relative;
    float: left;
    margin: 15px; }
    .bookshelf .book img {
      height: 250px;
      object-fit: contain;
      z-index: -100; }
    .bookshelf .book .hover {
      position: absolute;
      top: 0;
      left: 0;
      height: 250px;
      object-fit: contain;
      z-index: 100;
      background-color: rgba(187, 187, 190, 0.5);
      display: none; }
      .bookshelf .book .hover p, .bookshelf .book .hover i {
        color: black;
        padding: 5px; }

.book:hover .hover {
  display: block; }

.loadmore {
  clear: both;
  text-align: center;
  margin-bottom: 50px; }
  .loadmore button {
    background: white;
    border: 2px solid #bbbbbe;
    padding: 7px;
    padding-left: 27px;
    padding-right: 27px; }
    .loadmore button a {
      font-size: 24px; }

footer {
  background-color: #bbbbbe;
  text-align: center;
  height: 35px;
  position: fixed;
  bottom: 0px;
  width: 100%; }
  footer .footlist {
    padding-top: 5px;
    padding-bottom: 10px; }
    footer .footlist li {
      display: inline;
      padding-left: 15px;
      padding-right: 15px; }
      footer .footlist li a {
        font-size: 14px; }

@media (min-width: 768px) and (max-width: 1024px) {
  .mainhead {
    height: 40.5px; }
    .mainhead .logo {
      clear: both; }
      .mainhead .logo img {
        height: 66.75px;
        width: 184.5px; }
    .mainhead .mainnav {
      padding-top: 23px;
      padding-right: 30px;
      text-align: right;
      float: right;
      width: 500px; }

  .searchbar {
    clear: both;
    width: 90%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px; }
    .searchbar input {
      width: 90%; }

  .subhead p {
    clear: both;
    display: none; }
  .subhead .shelfview {
    clear: both;
    float: left;
    width: 100%;
    text-align: center; }
    .subhead .shelfview select {
      width: 90%; }

  .acctnav {
    float: none;
    text-align: center;
    margin: 0 auto;
    width: 100%; }
    .acctnav ul {
      padding-left: 0px; }
      .acctnav ul .acctnavicon {
        padding: 10px 20px; }
        .acctnav ul .acctnavicon img {
          height: 30px;
          width: 30px; }

  .bookshelf {
    margin-top: 175px;
    width: 90%; }
    .bookshelf .book img {
      height: 300px; }
    .bookshelf .book .hover {
      height: 300px; }

  footer, .footlist {
    display: none; } }
@media (min-width: 0px) and (max-width: 767px) {
  .background {
    display: none; }

  .mainhead {
    height: 27px; }
    .mainhead .logo {
      clear: both; }
      .mainhead .logo img {
        height: 44.5px;
        width: 123px; }
    .mainhead .mainnav {
      display: none; }

  .mobilenav {
    display: block;
    padding-top: 8px;
    float: right;
    text-align: right; }

  .searchbar {
    clear: both;
    width: 90%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px; }
    .searchbar input {
      width: 90%; }

  .subhead p {
    clear: both;
    display: none; }
  .subhead .shelfview {
    clear: both;
    float: left;
    width: 100%;
    text-align: center; }
    .subhead .shelfview select {
      width: 90%; }

  span {
    clear: both; }

  .acctnav {
    float: none;
    text-align: center;
    margin: 0 auto;
    width: 100%; }
    .acctnav ul {
      padding-left: 0px; }
      .acctnav ul .acctnavicon {
        padding: 8px 8px; }
        .acctnav ul .acctnavicon img {
          height: 25px;
          width: 25px; }
        .acctnav ul .acctnavicon h5 {
          display: none; }

  .bookshelf {
    margin-top: 125px;
    width: 90%;
    text-align: center; }
    .bookshelf .book {
      position: static;
      float: none;
      text-align: center; }
      .bookshelf .book img {
        height: 400px;
        object-fit: contain;
        padding-left: 25px;
        padding-right: 25px; }
      .bookshelf .book .hover {
        position: static;
        height: 150px; }

  footer, .footlist {
    display: none; } }

/*# sourceMappingURL=style.css.map */
