@import "variables.scss";
@import "mixins.scss";

*{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: $fontgray;
  margin: 0px;
}

.background{
  height: 98%;
  width: 101.75%;
  position: fixed;
  z-index: -100;
}

header{
  background: white;
  position: fixed;
  width: 100%;
  top: 0px;
}

.mainhead{
  border-bottom: 2px solid $boxgray;
  height: 54px;
  .logo{
    float: left;
    width: 25%;
    img{
      height: 89px;
      width: 246px;
      padding-left: 30px;
    }
  }
  .mainnav {
    padding-top: 35px;
    float: left;
    width: 55%;
  }
    li{
      display: inline;
    a{
      text-decoration: none;
      color: black;
      font-size: 1.25rem;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.searchbar{
  float: right;
  width: 15%;
  padding-top: 20px;
  input{
    display: block;
    padding: 4px;
  }
}

.subhead{
  clear: both;
  width: 90%;
  margin: 0 auto;
  p{
    font-size: 18px;
    font-weight: normal;
    float:left;
    padding-right: 5px;
  }
  .shelfview{
    float:left;
    ul{
      text-align: left;
      border: 1px solid $boxgray;
      padding: 4px;
      width: 250px;
      a{
        text-decoration: none;
      }
      li{
        text-align: left;
        display: none;
      }
    }
  }
}

.shelfview .shelfnav:hover li{
  display: block;
}

.shelfnav li:hover{
  background: $boxgray;
}

.acctnav{
  float: right;
  width: 70%;
  text-align: right;
  .acctnavicon{
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 25px;
    position: relative;
    img{
      height: 35px;
      width: 35px;
    }
    a{
        text-decoration: none;
    }
  }
}

.acctnavdrop{
  list-style: none;
  padding-left: 0px;
  padding-top: 5px;
  position: absolute;
  li{
    font-size: 14px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    background: white;
    display: none;
  }
}

.acctnavicon:hover li{
  display: block;
}

.acctnavdrop li:hover{
  background: $boxgray;
}

.top{
  position: fixed;
  bottom: 35px;
  right: 20px;
  img{
    height: 40px;
    width: 40px;
    padding: 5px;
  }
}

.bookshelf{
  clear:both;
  width: 85%;
  margin: 0 auto;
  margin-top: 150px;
  padding-top: 25px;
  .book{
    float: left;
    margin: 15px;
    img{
      height: 250px;
      object-fit: contain;
    }
  }
}

.loadmore{
  clear:both;
  text-align: center;
  margin-bottom: 50px;
  button{
    background: white;
    border: 2px solid $boxgray;
    padding: 7px;
    padding-left: 27px;
    padding-right: 27px;
    a{
      text-decoration: none;
      font-size: 24px;
    }
  }
}

footer{
  background-color: $boxgray;
  text-align: center;
  height: 35px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  .footlist{
    padding-top: 5px;
    padding-bottom: 10px;
    li{
      display: inline;
      padding-left: 15px;
      padding-right: 15px;
      a{
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
